body {
    font-size: .75rem !important;
    color: #6c757d !important;
}

/*
 * login
 */
#login-form {
    margin-top: 20%;
}

/*
 * punch
 */
#punch-btn div {
    float: left;
}

#clock {
    font-size: 40px;
    color: #181819;
}