<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.login}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
</head>
<body>
<form th:action="@{/login}" method="post" th:object="${form}">
    <div id="login-form">
        <div class="form-group row">
            <label th:for="email" class="col-sm-1 offset-sm-4 col-form-label col-form-label-sm text-secondary">Email</label>
            <div class="col-sm-3">
                <input type="text" th:field="*{email}" class="form-control form-control-sm" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label th:for="password" class="col-sm-1 offset-sm-4 col-form-label col-form-label-sm text-secondary">Password</label>
            <div class="col-sm-3">
                <input type="text" th:field="*{password}" class="form-control form-control-sm" placeholder="Password">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3 offset-sm-5">
                <button type="submit" class="btn btn-sm btn-outline-secondary">Sign in</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>